In [ ]:
# Import necessary libraries
import pandas as pd
import requests

# Import settings from the config file
from config import settings

In [ ]:
# ----------------------------------------------------------------------------------------------
# 1. Load the data from the API
# ----------------------------------------------------------------------------------------------

# Create a dynamic URL using all the parameters listed in the AlphaVantge documentation
# https://www.alphavantage.co/documentation/#daily

ticker = "MSFT"  # ticker symbol for Microsoft
outputsize = (
    "compact"  # compact returns the latest 100 data points in the daily time series
)
data_type = "json"  # json format for the data

url = (
    "https://www.alphavantage.co/query?"
    "function=TIME_SERIES_DAILY&"
    f"symbol={ticker}&"
    f"outputsize={outputsize}&"
    f"data_type={data_type}&"
    f"apikey={settings.alpha_api_key}"
)  # Use the API key from the settings

print("url type:", type(url))  # Print the URL type to check if it is correct

url type: <class 'str'>

In [ ]:
# ----------------------------------------------------------------------------------------------

# Make a GET request to the URL
response = requests.get(url=url)

In [ ]:
# Check the type of the response
print("response type:", type(response))

response type: <class 'requests.models.Response'>

In [ ]:
# Check the response
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [ ]:
# Check the status code of the response
response_code = response.status_code
print("response code type:", type(response_code))
print(response_code)

response code type: <class 'int'>
200

In [ ]:
# Check the response text
response_text = response.text
print("response_text type:", type(response_text))
print(response_text[:200])

response_text type: <class 'str'>
{
    "Meta Data": {
        "1. Information": "Daily Prices (open, high, low, close) and Volumes",
        "2. Symbol": "MSFT",
        "3. Last Refreshed": "2025-03-21",
        "4. Output Size": "C

In [ ]:
# Check the response JSON
response_data = response.json()
print("response_data type:", type(response_data))

response_data type: <class 'dict'>

In [ ]:
# Check the keys in the response data
print("response_data keys:", response_data.keys())

response_data keys: dict_keys(['Meta Data', 'Time Series (Daily)'])

In [ ]:
# Extract the "Time Series (Daily)" data from the response data
# This is the data we are interested in
stock_data = response_data["Time Series (Daily)"]
# Check the type of the stock_data
print("stock_data type:", type(stock_data))

stock_data type: <class 'dict'>

In [ ]:
# Check the data for one of the keys in the stock_data
print("stock_data['2025-03-21']:", stock_data["2025-03-21"])

stock_data['2025-03-21']: {'1. open': '383.2150', '2. high': '391.7400', '3. low': '382.8000', '4. close': '391.2600', '5. volume': '39675928'}

In [ ]:
# ----------------------------------------------------------------------------------------------
# 2. Read the data to a DataFrame
# ----------------------------------------------------------------------------------------------

# Convert the stock_data to a DataFrame
df_microsoft = pd.DataFrame.from_dict(stock_data)
df_microsoft.head()

,2025-03-21,2025-03-20,2025-03-19,2025-03-18,2025-03-17,2025-03-14,2025-03-13,2025-03-12,2025-03-11,2025-03-10,...,2024-11-07,2024-11-06,2024-11-05,2024-11-04,2024-11-01,2024-10-31,2024-10-30,2024-10-29,2024-10-28,2024-10-25
1. open,383.2150,385.7350,385.5250,387.0700,386.7000,379.7750,383.1550,382.9500,379.0000,385.8400,...,421.2800,412.4200,408.3700,409.8000,409.0100,415.3600,437.4350,428.0000,431.6550,426.7600
2. high,391.7400,391.7850,389.6800,387.3700,392.7050,390.2300,385.3200,385.2165,386.0000,386.4000,...,426.8500,420.4500,414.9000,410.4150,415.5000,416.1600,438.5000,433.1700,431.9400,432.5200
3. low,382.8000,383.2800,384.0000,381.1000,385.5700,379.5100,377.4500,378.9507,376.9100,377.2200,...,419.8800,410.5200,408.0800,405.5713,407.5000,406.3000,432.1000,425.8001,426.3000,426.5650
4. close,391.2600,386.8400,387.8200,383.5200,388.7000,388.5600,378.7700,383.2700,380.4500,380.1600,...,425.4300,420.1800,411.4600,408.4600,410.3700,406.3500,432.5300,431.9500,426.5900,428.1500
5. volume,39675928,18470542,19185532,19486850,22474272,19952846,20473017,24253567,30380177,32569768,...,19901782,26681842,17626011,19672286,24230442,53970981,29749149,17644080,14882444,16899064

In [ ]:
# Convert the stock_data to a DataFrame
df_microsoft = pd.DataFrame.from_dict(
    stock_data, orient="index", dtype="float"
)  # Add dtypes="float" because the data is in string format
# Make the date headings the index

In [ ]:
# Check the shape, head, and info of the DataFrame
df_microsoft.shape

(100, 5)

In [ ]:
df_microsoft.head()

            1. open  2. high  3. low  4. close   5. volume
2025-03-21  383.215  391.740  382.80    391.26  39675928.0
2025-03-20  385.735  391.785  383.28    386.84  18470542.0
2025-03-19  385.525  389.680  384.00    387.82  19185532.0
2025-03-18  387.070  387.370  381.10    383.52  19486850.0
2025-03-17  386.700  392.705  385.57    388.70  22474272.0

In [ ]:
df_microsoft.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 2025-03-21 to 2024-10-25
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7+ KB

In [ ]:
# ----------------------------------------------------------------------------------------------

# Clean the data by converting the index to a datetime object
df_microsoft.index = pd.to_datetime(df_microsoft.index)

In [ ]:
# Give the index a name
df_microsoft.index.name = "date"
# Check the head and info of the DataFrame
df_microsoft.head()

            1. open  2. high  3. low  4. close   5. volume
date
2025-03-21  383.215  391.740  382.80    391.26  39675928.0
2025-03-20  385.735  391.785  383.28    386.84  18470542.0
2025-03-19  385.525  389.680  384.00    387.82  19185532.0
2025-03-18  387.070  387.370  381.10    383.52  19486850.0
2025-03-17  386.700  392.705  385.57    388.70  22474272.0

In [ ]:
df_microsoft.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-03-21 to 2024-10-25
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    100 non-null    float64
 1   2. high    100 non-null    float64
 2   3. low     100 non-null    float64
 3   4. close   100 non-null    float64
 4   5. volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB

In [ ]:
# Clean the headers by removing the "number" prefix from the columns names
df_microsoft.columns = [col.split(". ")[1] for col in df_microsoft.columns]

In [ ]:
# Check the head and info of the DataFrame
df_microsoft.head()

               open     high     low   close      volume
date
2025-03-21  383.215  391.740  382.80  391.26  39675928.0
2025-03-20  385.735  391.785  383.28  386.84  18470542.0
2025-03-19  385.525  389.680  384.00  387.82  19185532.0
2025-03-18  387.070  387.370  381.10  383.52  19486850.0
2025-03-17  386.700  392.705  385.57  388.70  22474272.0

In [ ]:
df_microsoft.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-03-21 to 2024-10-25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB

In [ ]:
# ----------------------------------------------------------------------------------------------
# 3. Incorporate the data cleaning steps into a function to get data from the AlphaVantage API
# ----------------------------------------------------------------------------------------------


# The function to get the stock data from the AlphaVantage API
def get_stock_data(ticker: str, outputsize: str, data_type="json") -> pd.DataFrame:
    """
    Get the stock data from the AlphaVantage API.

    Parameters:
    ticker (str): The ticker symbol of the stock.
    outputsize (str): The size of the output data (compact or full),
    where compact returns the latest 100 data points. Full returns the full-length time series.
    data_type (str): The format of the output data set to json by default.

    Returns:
    pd.DataFrame: A DataFrame containing the stock data.
    The columns are: open, high, low, close, volume.The index is the date.
    """
    # Create the URL
    url = (
        "https://www.alphavantage.co/query?"
        "function=TIME_SERIES_DAILY&"
        f"symbol={ticker}&"
        f"outputsize={outputsize}&"
        f"data_type={data_type}&"
        f"apikey={settings.alpha_api_key}"
    )

    # Make a GET request to the URL
    response = requests.get(url=url)

    # Extract the data from the response
    response_data = response.json()
    stock_data = response_data["Time Series (Daily)"]

    # Convert the data to a DataFrame and clean it
    df_stock = pd.DataFrame.from_dict(stock_data, orient="index", dtype="float")
    df_stock.index = pd.to_datetime(df_stock.index)
    df_stock.index.name = "date"
    df_stock.columns = [col.split(". ")[1] for col in df_stock.columns]

    return df_stock

In [ ]:
# ----------------------------------------------------------------------------------------------
# 4. Use the function to get data for different stocks
# ----------------------------------------------------------------------------------------------

# Get the stock data for Apple (AAPL
df_apple = get_stock_data("AAPL", "compact") # Get the latest 100 data points

# Check the shape, head, and info of the DataFrame
print("Apple Stock Shape:", df_apple.shape)

Apple Stock Shape: (100, 5)

In [ ]:
df_apple.head()

              open      high     low   close      volume
date
2025-03-21  211.56  218.8400  211.28  218.27  94127768.0
2025-03-20  213.99  217.4899  212.22  214.10  48862947.0
2025-03-19  214.22  218.7600  213.75  215.24  54385391.0
2025-03-18  214.16  215.1500  211.49  212.69  42432426.0
2025-03-17  213.31  215.2200  209.97  214.00  48073426.0

In [ ]:
df_apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-03-21 to 2024-10-25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB

In [ ]:
# Get the stock data for Google (GOOGL)
df_google = get_stock_data("GOOGL", "compact") # Get the latest 100 data points

# Check the shape, head, and info of the DataFrame
print("Google Stock Shape:", df_google.shape)

Google Stock Shape: (100, 5)

In [ ]:
df_google.head()

               open    high       low   close      volume
date
2025-03-21  161.205  164.24  160.8901  163.99  36625764.0
2025-03-20  161.570  164.89  160.9600  162.80  28138464.0
2025-03-19  161.760  165.87  161.0000  163.89  34275582.0
2025-03-18  163.675  164.25  156.7200  160.67  42074751.0
2025-03-17  165.030  166.30  163.6700  164.29  31184335.0

In [ ]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-03-21 to 2024-10-25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB